<div ng-controller="PagesController">
  <div class="jumbotron">
    <%= image_tag 'logo.png' %>
    <h1>Want to get more from Blue Winter?</h1>
    <p>click below to order a copy of Parallel or sign up for future emails.</p>
    <p>
      <a class="btn btn-success btn-lg" href="/orders/new" role="button">Pre-Order Parallel</a>
    </p>
    <p>
      <a class="btn btn-primary btn-lg" href="/contacts/new" role="button">Email Sign Up</a>
    </p>
  </div>
</div>
